.card{
  max-width: 413px;
}

.card__image{
  height: 413px;
  width: 413px;
  object-fit: cover;
}

.card__content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
}

.card__like-btn{
  background-image: url(../images/like_icon.svg);
  width: 23px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  opacity: 0.4;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .card__image{
    height: 288px;
  }
}