.profile{
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
}

.profile__avatar{
  height: 190px;
  width: 190px;
  margin-right: 20px;
}

.profile__column{
  display: flex;
  flex-direction: column;
}

.profile__name{
  max-width: 420px;
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__description{
  max-width: 420px;
  margin: 0;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(33, 33, 33, 0.7);
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}


.profile__edit-btn{
  display: inline-flex;
  align-items: center;
  gap: 2px;
  margin-top: auto;
  background-color: #FCF5E5;
  width: 120px;
  height: 16;
  gap: 8px;
  opacity: 0.7;
  border-radius: 0 0 0 0;
  border: 0 none #FCF5E5;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  }

.profile__edit-btn:hover{
  opacity: 1;
  cursor: pointer;
}

.profile__add-btn{
  margin-left: auto;
  width: 149px;
  height: 52px;
  padding: 18px 32px;
  gap: 8px;
  border-radius: 8px;
  background: #212121;
  border: none;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  align-self: flex-end;
}

.profile__add-btn:hover{
  cursor: pointer;
  background: #212121;
  opacity: 0.8;
}

@media screen and (max-width: 627px) {
  .profile{
    flex-direction: column;
    max-width: 280px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar{
    margin: 0 0 12px;
    height: 80px;
    width: 80px;
  }

  .profile__name{
    max-width: 288px;
    font-size: 20px;
    margin:0 0 6px;
  }

  .profile__description{
    margin: 0 0 32px;
  }
  .profile__column{
    margin: 0 0 32px;
  }

  .profile__add-btn{
    min-width: 288px;
    width: 100%;
    margin: 20px 0 0;
  }

  .profile__edit-btn{
    margin: 0;
  }
}